.start-screen {
    margin-top: 100px;
}

.start-screen__logo {
    width: 100px;
}

.start-screen__title {
    font-size: 45px;
    font-weight: 700;
    color: #A7A7A7;
}

.start-screen__description {
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    max-width: 350px;
    margin: 50px auto;
    padding-left: 50px;
    padding-right: 50px;
}

/* Media queries */

@media screen and (min-width: 300px) {
    .start-screen__title {
        font-size: 64px;
    }
}