.my-rewards__header,
.my-rewards__redeem-button,
.my-rewards__history__title {
  display: flex;
}

.my-rewards__header {
  justify-content: space-between;
  margin-bottom: 20px;
}

.my-rewards__redeem-button {
  align-items: center;
}

.my-rewards__history__title {
  margin-bottom: 20px;
  margin-top: 40px;
}
