.my-trips__title,
.my-trips__button--add-trip {
    display: inline-block; /* fallback for flexbox */
}

.my-trips__header {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-trips__items {
    margin: 20px auto 0 auto;
    text-align: left;
}

.my-trips__items__empty {
    display: flex;
    justify-content: space-around;
    color: #8A8A8A;
}

.my-trips__items__empty__arrow-container {
    height: 64px;
    width: 64px;
}