.home {
    max-width: 568px;
    margin: 0 auto;
    text-align: left;
}

/* Weather */

.home__weather__items {
    display: flex;
    justify-content: space-between;
}

.home__weather__items .weather:first-child {
    margin-left: 0;
}

.home__weather__items .weather:last-child {
    margin-right: 0;
}

/* My Trips */

.home__my-trips__title, .home__my-trips__buttons {
    display: inline-block; /* fallback for flexbox */
}

.home__my-trips__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* My rewards */

.home__my-rewards__title,
.home__my-rewards__button--see-all {
    display: inline-block; /* fallback for flexbox */
}

.home__my-rewards__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Common for my trips and my rewards */

.home__my-trips__button--see-all,
.home__my-trips__button--add-trip, .home__my-rewards__button--see-all {
    margin-left: 14px;
}