.set-goals {
  width: 393px;
}

.set-goals_main {
  width: 100%;
  height: 60%;
  display: grid;
  justify-items: center;
  gap: 6vh;
}

.set-goals_main p {
  line-height: 24px;
}

.set-goals_main h2 {
  margin: 8px 0;
}

.text--thick {
  font-size: 15px;
  font-weight: 600;
}

.text--thin {
  font-size: 15px;
  font-weight: 400;
}
