.trip__link {
    /* display: inline-block; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto 18px auto;
    padding: 16px 16px 11px 16px;
    border-radius: 10px;
    background-color: #F1F2F2;
    color: #333333;
}

.trip-preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.trip-preview__goal-chart {
    margin-right: 15px;
}

.trip-preview__trip-info__airport-codes {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}

.trip-preview__trip-info__date {
    font-size: 11px;
    font-weight: 400;
}

.trip-preview__status {
    color: #8A8A8A;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}