.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.switch-container {
  display: flex;
  align-items: center;
}

.eco-mode {
  font-weight: 600;
  color: #929292;
}

.back-btn {
  border: none;
  background: none;
  cursor: pointer;
}