.addtripform, .addtripform--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.addtripform--form input, .addtripform--form select {
    min-width: 200px;
}



