body {
  margin: 0 auto;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 750px;
  padding: 29px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 32px;
}

/* Styles for common elements */
.button-turquoise {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: #00bbb0;
  border: none;
  border-radius: 20px;
}

.button-turquoise--main {
  padding: 10px 20px;
}

.button-turquoise--large {
  width: 100%;
  padding: 10px 20px;
}

.button-turquoise--small {
  padding: 5px 20px;
}

.button-grey {
  color: #929292;
  background-color: #d9d9d9;
  border: none;
  border-radius: 20px;
  width: 28px;
  height: 28px;
}
