.trip {
    display: inline-block;
    width: 100%;
    margin: 0 auto 18px auto;
    padding: 16px 25px;
    border-radius: 10px;
    background-color: #F1F2F2;
}

.trip-text {
    margin: 0 auto 20px auto;
}

.trip__extra-details {
    margin: 30px auto 0 auto;
    font-size: 15px;
}

/* Extra details text styling */

.trip__extra-details__flight-detail {
    margin-bottom: 10px;
}

.trip__extra-details__flight-footprint {
    font-weight: 600;
}

.trip__extra-details__luggage {
    margin-top: 35px;
}

/* Edit trip button */

.trip__button-container {
    display: flex;
    justify-content: flex-end;
}

.trip__button--edit-trip {
    display: flex;
    text-align: right;
    align-self: flex-end;
}

.trip__button--edit-trip svg {
    width: 75%;
    height: 100%;
    display: block;
    margin: 0 auto;
}