.trip {
    background-color: #F1F2F2;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto 18px auto;
    padding: 16px 16px 11px 16px;
    display: flex;
    justify-content: flex-start;
}

.trip__text {
    width: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.trip__text__trip-info__airport-codes {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}

.trip__text__trip-info__date {
    font-size: 11px;
    font-weight: 400;
}

.trip__text__status {
    color: #8A8A8A;
    font-size: 15px;
    font-weight: 600;
    text-align: right;
}